/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 nov. 2017, 17:19:53
    Author     : PC107
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
    background-color:#fff;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat";
    margin: 5px;
    /*font: normal 14px Roboto,arial,sans-serif;*/
}

.container {
    padding: 25px;
    position: fixed;
    width: 400px;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    font-family: "Montserrat";

}

h4 { 
    border:0 solid #fff; 
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
}

h3{
    text-align: -webkit-center;
}
.form-control {
    border-radius: 7px;
    height:25px;
    margin: 5px;

}

.wrapper {
    text-align: left;


}

button{
    width: 200px; 
    text-align: center;
    border-radius: 7px;
    height:35px;
    float: right;
    margin-top: 15px;
    background-color: #4cae4c;
    color: white;
}

input {
    float: right;
}

label{
    height:25px;
    margin: 5px;
    display: flex;
    float: right;

}